@charset 'utf-8';

/* 
	variables 
*/
$breakpoint-medium: 600px;
$breakpoint-big: 900px;

$fonts: ('Sunflower', sans-serif);
$normal-text: 1em;
$big-text: 1.3rem;
$small-text: 0.9rem;
$smaller-text: 0.8rem;

/* Colour palette: https://colorhunt.co/palette/118591 */
$lightGrey: #f9f9f9;
$pink: #ff7a8a;
$lightBlue: lighten(#113a5d, 20%); //According to specs should use scale-color instead, but gulp-sass doesn't like it
$darkBlue: #062743;

$primary-colour: $darkBlue;
$secondary-colour: $lightBlue;
$standout-colour: $pink;
$background-colour: $lightGrey;

/*
	mixins
*/
@mixin button {
	box-shadow: 0 5px 12px -5px rgba(0,0,0,.5);
	border-radius: 0.2em;
	cursor: pointer;	
}
@mixin top-bottom-padding($amount) {
	padding-top: $amount;
	padding-bottom: $amount;
}
@mixin set-text {
	font-family: $fonts;
	font-size: $normal-text;
	color: $primary-colour;

}